{% extends 'base.html.twig' %}

{% block title %}WTE - Account{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">{{msg}}</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">K채ytt채j채nimi: {{ form_start(handle_form, {'action': path('save_handle'), 'method': 'POST'}) }}{{form_widget(handle_form.handle)}}{{form_widget(handle_form.submit,{'label': 'Save'})}}{{form_rest(handle_form)}}{{form_end(handle_form)}}</div>
        <div class="col-md-4 col-sm-12">Oma ryhm채: {{ form_start(grp_form, {'action': path('save_group'), 'method': 'POST'}) }}{{form_widget(grp_form.name)}}{{form_widget(grp_form.submit,{'label': 'Save'})}}{{form_rest(grp_form)}}{{form_end(grp_form)}}</div>
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-4 col-sm-12">Salasanan vaihto:{{form(pass_form, {'action': path('save_pass'), 'method': 'POST'})}}</div></div>
    </div>
</div>
{% endblock %}
