{% extends 'base.html.twig' %}

{% block title %}Where to eat?{% endblock %}

{% block body %}

<div class=container>
    <div class=row>
        <div class=col-md-12>
            <p>Olet äänestänyt tänään!</p>
            <p>Näillä äänillä tänään syödään ravintolassa:</p>
            <h1><b>{{wte.winner.name}}</b></h1>
            {% if wte.draw == true %}
            <p>tasapeli, arvottu</p>
            {% endif %}
            <br>
            
            <p>Ääniä annettu: {{voteCount}} / {{members}}</p>
            {% for row in restaurants %}
            <p>{{row['votes']}} kpl - {{row['restaurant'].name}}</p>
            {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}
