{% extends 'base.html.twig' %}

{% block title %}Where to eat?{% endblock %}

{% block body %}

<div class=container>
    <div class=row>
        <div class=col-md-12>
            <p>Olet äänestänyt tänään!</p>
            <p>Näillä äänillä tänään syödään ravintolassa:</p>
            {% if wte.winner != null %}
            <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 col-lg-10 d-flex justify-content-center">
                <div class="justify-content-center">
                    <div class="col-6 col-sm-12 col-lg-4 text-center winner">
                        <h1><b>{{wte.winner.name}}</b></h1>
                        <p>Ravintola aukeaa klo {{wte.winner.opens|format_time('short')}}</p>
                    </div>
                </div>
            </div>
        </div>
            
            {% else  %}
            <h1><b>--</b></h1>
            {% endif %}
            {% if wte.draw == true %}
            <p>tasapeli, arvottu</p>
            {% endif %}
            <br>
            
            <p>Ääniä annettu: {{voteCount}} / {{members}}</p>
            {% for row in restaurants %}
            <p>{{row['votes']}} kpl - {{row['restaurant'].name}}</p>
            {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}
