{% extends 'base.html.twig' %}

{% block title %}WTE - Groups{% endblock %}

{% block body %}


<div class=container>
<div class=row>
    <div class="col-md-8">
    
    <table class="table">
        <caption>Add new</caption>
        <thead>
        <tr>
            <th>Group</th>
            <th></th>
        </tr>
        </thead>
        <tr>
        {{ form_start(form) }}
            <td>{{ form_widget(form.name) }}</td>
            <td>{{ form_row(form.submit,{'label':'Add'}) }}</td>
        {{ form_end(form)}}
        </tr>
    </table>
    </div>
</div>
<div class=row>
    <div class="col-md-12">
    <table class="table">
        <caption>In database</caption>
        <thead>
        <tr>
            <th>Group name</th>
            <th>Users</th>
            <th>Delete</th>
        </tr>
        </thead>
    {% for grp in groups %}
        <tr>
            <td><a href="/admin/group/{{ grp.id }}/restaurants/">{{ grp.name }}</a></td>
            <td>
                <ul class="nav">
                    <li  class="nav-item dropdown">
			        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#"><i class="fa fa-user-o"></i> {{grp.users|length}}</a>
                        <ul class="dropdown-menu">
                            {% for user in grp.users %}					
				            <li class="dropdown-item">&nbsp;{{user.getName()}}&nbsp; </li>
				            {% endfor %}
                        </ul>
                    </li>
		        </ul>
            </td>
            <td><a href="/admin/group/{{grp.id}}/del/"><img src=/gfx/ico_remove.gif></a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
</div>

{% endblock %}
