{% extends 'base.html.twig' %}

{% block title %}WTE - Restaurants{% endblock %}

{% block body %}


<div class=container>

<div class=row>
    <div class="col-md-12">
    <table class="table">
        <caption>Lisättävissä olevat ravintolat</caption>
        <thead>
        <tr>
            <th>Restaurant</th>
            <th>Lisää ryhmääsi</th>
        </tr>
        </thead>
    {% for restaurant in available %}
        <tr>
            <td>{{ restaurant.name }}</td>
            {% if group != null%}
            <td><a href="/restaurants/group/{{group.id}}/restaurants/{{restaurant.id}}/add/"><img src=/gfx/ico_add.gif></a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% if group != null %}
<div class=row>
    <div class="col-md-12">
    <table class="table">
        <caption>Ryhmäsi ravintolat</caption>
        <thead>
        <tr>
            
            <th>Nimi</th>
            <th>Aukeaa</th>
            <th>URL</th>
            <th>Menu url</th>
        </tr>
        </thead>
    
    {% for rr in group.restaurants %}
        <tr>
            <td>{{ rr.name }}</td>
            <td>{{ rr.opens|format_time('short') }}</td>
            {% if rr.url %}          
            <td><a href="{{ rr.url }}">Kotisivu</a></td>
            {% else %}
            <td></td>
            {% endif %}
            {% if rr.menuUrl %}          
            <td><a href="{{ rr.menuUrl }}">MENU</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endif %}
</div>

{% endblock %}

